<div class="container-fluid">   
  <div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Git Merger Utility</h3>
        <p>As one of the individuals reviewing and merging on large projects with extensive testsuites, you have probably noticed that merging takes time. A long time.</p>
        <p>Ever found yourself starting a merge run near the end of the day, and then being chained to your computer waiting for tests to run, when you would rather
        be in the pub? Then this might help you!</p>
        <p>Other examples are:
            <ul>
                <li>
                    You started a merge test run before getting on a plane, and want to push it up to upstream from the other 
                    end from your mobile device without digging out your laptop.
                </li>
                <li>
                    You're waiting for a friend who is late, don't have your computer with you, and feel like reviewing and pushing some pull requests for merging
                    before.
                </li>
                <li>
                    You're out and about and know that the pull requests you were merging failed testing, and want to retry a smaller set of pull requests right away.
                </li>
                <li>
                    The possibilities are endless!
                </li>
            </ul>
        </p> 
    </div>   
  </div>
</div>  